# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Svelte/SvelteKit
.svelte-kit/
.build/
dist/
build/
.vite/
vite.config.ts.timestamp-*
*.svelte-kit-tmp
vite.config.ts

# IDE / SO
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Env & credenciais
.env
.env.*
!.env.example

# Test / Coverage
coverage/
static/InstaladorF10.exe

#data logs
data/contact-modal-leads.json
data/whatsapp-leads.json
data/contact-jobs.json
data/contact-leads.json